@import "libs/bootstrap-reboot.min";
@import "libs/tiny-slider";
@import "libs/fonts";



@import "base/mixins";
@import "base/variables";
@import "base/animations";



@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/benefits";
@import "blocks/consultation";
@import "blocks/titles";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/client";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pageup";




* {font-family: 'Museo Sans Cyrl', sans-serif;
}
.container{
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import "blocks/promo_media";
@import "blocks/benefits_media";
@import "blocks/consultation_media";
@import "blocks/slider_media";
@import "blocks/catalog_media";
@import "blocks/client_media";
@import "blocks/footer_media";
@import "blocks/modal_media";