@import "base/mixins";
@import "base/variables";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/benefits";
@import "blocks/consultation";
@import "blocks/titles";
@import "blocks/forms";
@import "blocks/carousel";



* {font-family: 'Museo Sans Cyrl', sans-serif;
}
.container{
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import "blocks/promo_media";
@import "blocks/benefits_media";
@import "blocks/consultation_media";
@import "blocks/slider_media";