@media (max-width: 575px){
    .modal{
        width: 320px;
        padding: 20px 0 0 0;
        min-height: 380px;
    
        &__close {
            top: 400px;
            right: 147px;
            }
    }
    .feed-form{
        &_mt {
            margin-top: 25px;
        }
    }
    
}